<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>783627667505-0tjd1c31rcvm4n0sj5pot4qm1qumetrb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.783627667505-0tjd1c31rcvm4n0sj5pot4qm1qumetrb</string>
	<key>API_KEY</key>
	<string>AIzaSyDdp-98Jq5AhBlFNd3NDdE__4JIrYFGO7U</string>
	<key>GCM_SENDER_ID</key>
	<string>783627667505</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.khan.triffy</string>
	<key>PROJECT_ID</key>
	<string>triffy-1cc5e</string>
	<key>STORAGE_BUCKET</key>
	<string>triffy-1cc5e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:783627667505:ios:08916d05379c7b60c1ed10</string>
</dict>
</plist>